body {
    margin: 0;
    background-color: #2F3336;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
}
#logoInfo {
    font-size: 50px;
    font-weight: 700;
    color: #ddd;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 70px;
    margin-bottom: 100px;
    margin-left: 700px;
    float: left;
    text-shadow: 0 0 7px #000000, 0 0 10px #000000;
    height: 50px;
}
#logo {
    font-size: 50px;
    font-weight: 700;
    color: #ddd;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 70px;
    margin-bottom: 100px;
    text-shadow: 0 0 7px #000000, 0 0 10px #000000;
    height: 50px;
}
.btn {
    text-align: center;
    font-size: 30px;
    padding: 15px 32px;
    margin: 0 auto;
    display: flex; /* or display:grid */
    justify-content: center;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: #0071c2;
    color:rgb(216, 216, 216);
    text-shadow: 0 0 3px #002872, 0 0 5px #03034e;
    border: none;
    border-radius: 5px;
}
.menu_btn {
    text-align: center;
    font-size: 30px;
    padding: 15px 32px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: #0071c2;
    color:rgb(216, 216, 216);
    text-shadow: 0 0 3px #002872, 0 0 5px #03034e;
    border: none;
    border-radius: 5px;
}
.btn:hover {
    cursor: pointer;
    background-color: #c23700;
}
.menu_btn:hover {
    cursor: pointer;
    background-color: #c23700;
}
p {
    margin: 0 auto;
    display: flex; /* or display:grid */
    justify-content: center;
    font-size: 25px;
}
header.head2 {
    margin-left: 500px;
    width: 400px;
    height: 50px;
    float: left;
}
section.to_menu {
    width: 100px;
    height: 50px;
    float: left;
}
section.img {
    float: left;
    width: 1000px;
    background-color: #c23700;
}
.map {
    width: 850px;
    margin-top: 20px;
    margin-left: 380px;
    border: 10px solid rgb(0, 31, 56);
    position: absolute;
}
#pointer {
    width: 200px;
    top: 50%;
    position: absolute;
    margin-left: 800px;
}
#in {
    left: 700px;
    top: 900px;
    width: 400px;
    height: 30px;
    background-color: #8a8a8a;
    margin: 0 auto;
    display: flex; /* or display:grid */
    justify-content: center;
    position: fixed;
    border-color: #002872;
    border-width: 5px;
}
.in:hover {
    border-color: #0059ff;
}
#txt {
    position: fixed;
    top: 400px;
    color: #ff0000;
    white-space: nowrap;
    visibility: hidden;
}
#txt2 {
    font-weight: 300;
    position: fixed;
    top: 450px;
    color: #ff0000;
    white-space: nowrap;
    visibility: hidden;
}
#info {
    text-align: center;
    margin-top: 100px;
    margin-left: 370px;
    width: 1000px;
    line-height: 1.6;
}